<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.pdp.mymemorygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMemoryGame">
        <activity android:name=".game.Main2Activity"></activity>
        <activity android:name=".game.MyMemoryHardActivity" />
        <activity android:name=".game.ThreeMemoryActivity" />
        <activity android:name=".game.SecondMemoryActivity" />
        <activity android:name=".game.MyMemoryActivity"></activity>
        <activity android:name=".game.PuzzleActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".GameActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>